body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/Media/Images/wallteenage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header, main, aside, footer, div{
    border-radius: 25px;
    margin: 15px auto;
    width: 80%;
    background-color: rgba(0,0,0,0.65);
    color: white;
}
main{
    width: 60%;
}
header{
    color: darkorchid;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;    
    width: 80%;
}

a{
    text-decoration: none;
}
h1{
    text-align: center;
}
p{
    padding: 50px;
    display: flex;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}
div{
    padding: 20px;
}
iframe{
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}
#playlist{
    height: auto;
}
@media all and (min-width: 1001px){
    #playlist{
        width: 30%;
    }
}
@media all and (max-width: 1000px) and (min-width: 641px){
    header, main, aside, footer, div{
        width: 80%;
    }
    iframe{
        width: 100%;
    }
    #playlist{
        width: 80%;
    }
}
@media all and (max-width: 640px){
    p{
        padding: 5%;
    }
    header, main, aside, footer, div{
        width: 80%;
    }
    iframe{
        width: 100%;
    }
    #playlist{
        width: 80%;
    }
}
