body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/Media/Images/wallColombia.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header, main, aside, footer, div{
    border-radius: 25px;
    margin: 15px auto;
    width: 80%;
    background:linear-gradient( rgba(189, 192, 0, 0.61)30%, rgba(3, 30, 182, 0.705) ,rgba(182, 0, 0, 0.753) );
    color: rgb(235, 233, 233);
}
header{
    color: darkorchid;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;    
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
p{
    padding: 50px;
    display: flex;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}
div{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
div h1{
    width: 100%;
}
iframe{
    display: flex;
    margin: 0 auto 5% auto;
    border-radius: 25px;
    width: 60%;
}